body{
	text-align: center;
    /* background: #00ECB9; */
    background: darkslategrey;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-weight: 100;
  font-size: 30px;
  margin: 40px 0px 20px;
  font-weight: bold;
}
 h1 span{
    font-size: 30px;
    line-height: 70px;
    letter-spacing: -1.4px;
    font-weight: 300;
 }

.container {
    width: 600px;
    margin-top: 75px;
    margin-left: 300px;
    text-align: center;
    border-radius: 55px;
    border: solid 20px wheat;
    padding: 5px 0 45px 0;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
    font-size: 20px;
    font-weight: 500px;
    color: whitesmoke;
}
span {
    color: whitesmoke;
    font-weight: bolder;
    font-size: 30px;
    width: 50px;
}